
{
    "presets": [
        [
            "@babel/preset-env",
            /* Para compilacion de funcionalidades que requieran async/await */
            {
                "targets": {
                    "node": "10"
                }
            }
        ]
    ]
}